<template set="tpl1">
    Value: <span>{{value}}</span><br/>
</template>

<div template t-set="tpl2" class="class" style="color:yellow">
    Value: <span>{{value}}</span><br/>
</div>

<span class="span1" style="text-decoration: underline" template="t" t-get="tpl1" t-value="2"></span>
	<span template="tpl" class="span2" style="text-decoration: underline" tpl-get="tpl1" tpl-value="3">
		<b>span 2 there</b>
	</span>

<hr/>

<template set="tree-item">
    <div>
        <ng-switch on="getTypeOf(item)">

            <div ng-switch-when="string">
                {{key}}: {{item}}
            </div>

            <div ng-switch-when="object">
                {{key}}
                <ul ng-repeat="(key, value) in item">
                    <li>
                        <template get="tree-item" item="value" key="key"></template>
                    </li>
                </ul>
            </div>

            <div ng-switch-when="array">
                {{key}}
                <div ng-repeat="(key, value) in item">
                    <template get="tree-item" item="value" key="key"></template>
                </div>
            </div>

            <div ng-switch-default>
               {{item}}
            </div>
        </ng-switch>
    </div>
</template>

<template get="tree-item" key="" item="json"></template>